&.themes-woocommerce_sales_conv-theme-ten,
&.themes-conversions_conv-theme-ten {
    &:not(&:last-child) {
        margin-bottom: 45px;
    }
    &,
    .surfalert-inner {
        border-radius: 8px;
    }
    .no-advance-edit {
        .surfalert-content {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, auto);
            column-gap: 15px;
            margin-right: 0;
            margin-left: 0;
            .sa-first-row {
                grid-column-start: 1;
                grid-column-end: 3;
                color: #344054;
                font-size: 16px;
                line-height: 21px;
                font-weight: 500;
                span {
                    span:nth-child(2) {
                        color: #b39899;
                        font-weight: 400 !important;
                    }
                }
            }
            .sa-second-row {
                grid-column-start: 1;
                grid-column-end: 3;
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
                span {
                    span:nth-child(1) {
                        color: #5d3ab4;
                    }
                }
            }
            .sa-third-row {
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 3;
                grid-column-end: 4;
                font-size: 12px;
                font-weight: 500;
                span {
                    span:nth-child(1) {
                        color: #98a2b3;
                    }
                }
                .sa-branding {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }
}
