// color theme four
.themes-download_stats_7day-download,
.themes-download_stats_today-download {
    .surfalert-content {
        & > p {
            &.sa-first-row {
                font-size: 14px;
                font-weight: 500;
                color: #6a4bff;
            }
            &.sa-second-row {
                font-size: 11px;
                font-weight: 500;
                color: #000;
            }
            &.sa-third-row {
                font-size: 10px;
                color: #7c8db5;
            }
        }
    }
}
.themes-download_stats_today-download {
    .surfalert-content {
        & > p {
            &.sa-third-row {
                font-size: 10px;
                color: #45c9b1;
            }
        }
    }
}
